@if (isAddingTask) {
    <!-- <app-new-task (closeDialog)="isAddingTask = false" (add)="onAddTask($event)" /> -->
    <app-new-task (closeDialog)="isAddingTask = false" [userId]="userId" />
}

<section id="tasks">
    <header>
        <h2>{{ name }}</h2>
        <menu>
            <button type="button" (click)="onStartAddTask()">Add task</button>
        </menu>
    </header>


    <ul>
        @for (task of selectedUserTasks; track task.id) {
            <li>
                <app-task [task]="task" (complete)="completeTask($event)" />
            </li>
        }
    </ul>
</section>
